./packages/binance/node_modules
./packages/china-stock/node_modules
./packages/client/node_modules
./packages/core/node_modules
./packages/cron/node_modules
./packages/crypto/node_modules
./packages/crypto-binance/node_modules
./packages/crypto-ftx/node_modules
./packages/crypto-huobi/node_modules
./packages/crypto-server/node_modules
./packages/database/node_modules
./packages/ftxdepth/node_modules
./packages/huobi/node_modules
./packages/operators/node_modules
./packages/server/node_modules
./packages/types/node_modules
./packages/utils/node_modules
packages/docs/
packages/client/.linaria-cache/
packages/client/dist/

yarn-error.log